html, body, #main{
  height: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  width:100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -------------------- Sign In & Sign Up -------------------- */

.text-line {
  width: 300px !important;
}

.form-signin-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-signup .form-signin-signup-heading, .form-signin-signup {
    margin-bottom: 10px;
}

.form-signin-signup .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin-signup .form-control:focus {
    z-index: 2;
}

.form-signin-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #FFFFFF;
}

.new-account {
    display: block;
    margin-top: 10px;
}

/* -------------------- Splash Page -------------------- */

.splashpg-div{
  height: 100%;
  width: 100%;
  background-image: url(./assets/orangetree.jpeg);
  background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  overflow: hidden;
}

.signin, .signup {
  color: white;
}

.splashpg {
  display: inline-block;
  text-align: right;
  margin-right: 1px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}


.jumbotron, .banner{
  background-color: transparent;
  height: 100%;
  color: white;
  margin-top: 18%;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.oneliner {
  text-align: center;
}


.header-splashpg {
  position: block;
  font-size: 4em;
  text-align: center;
}

/* -------------------- Splash Page -------------------- */

.container, .creategroup {
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-align: center;
}


.creategroupbutton {
  background-color: #C6AC8F;
  width: 60%;
  margin-bottom: 10px;
  color: #E3E7D3;
}

.choose-topic{
  color: #355834;
}

.main-btn {
  margin-top: 20px !important;
}

/* -------------------- All Users -------------------- */

.user-block {
  text-align: center;
  height: 300px;
  width: 230px;
  margin: 30px;
}

span, .fr-btn {
  text-align: center;
  padding: 0 10px;
}

.container-centered {
  text-align: center;
}

.col-centered {
  display:inline-block;
  float: none;
}

.bottom-align-text {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.all-users-name {
  font-size: 18px;
}

.username-div {
  margin-bottom: 10px;
}

/* -------------------- All Groups -------------------- */

.all-groups-table {
  width: 100%;
  table-layout: auto;
  display: inline;
}

.all-groups-headers, .individual-groups-headers {
  width: 250px;
  word-wrap:break-word;
}

.container-centered {
  text-align: center;
}

.all-groups-table-body {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*select component style*/
.selectComponent-style {
  color: white;
}

/*questionnaire style*/

.questionnaire {
  background-image: url('./assets/blueberrytree.jpeg');
  height: 100%;
  width:100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.inner-div-questionnaire {
  position: block;
  margin-top: 30%;
  background: transparent;
  vertical-align: center;
}

.questionnaire-form {
  width:100%;
  background-color: transparent;
}

.questionnaire-h1 {
  text-align: center;
  width: 100%;
  margin-top: 10%;
  padding: 20px;*/
  border: solid;
  border-width: thin;
  font-size: 75px;
  color: white;
  background-color: transparent;
}


.questionnaire-inputs {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  border: none;
  background-color: transparent;
}


.containerquestionnaire, label {
  margin-right:15px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 100;
  color: white;
}

.submitquestionnaire {
  background-color: #3D436B;
  color: white;
}

.ft, .in{
  width: 50px;
}

-/* -------------------- Group Page -------------------- */

 .group-page-header {
   width: 100%;
   text-align: center;
   background-color: lightgrey;
 }



/*<---- main nav ---->*/
.homelink {
  color: white;
}

.nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #233B44;
      width: 100%;
      height: 10%;
      color: white;
}

.navItem {
  float: left;
  color: white;
}


.home, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

a.home{
  color: white;
}



.home:hover, .dropdown:hover .dropbtn {
    position: block;
    background-color: transparent;
}

li.dropdown {
  height: 100%;
  padding-top: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content li:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


.signoutbutton-item {
  position:fixed;
  top: 10px;
  right: 10px;
}
.signout-button {
  background-color: #D8A154;
  color: white;
}

.signout-button {
  background-color: #D8A154;
  color: white;
}

.navheader {
  position: absolute;
  color: white;
  top: 10px;
  left: 40%;
  position:absolute;
  float: top;
}

/* -------------------- Group Messages -------------------- */
.group-message {
  border-bottom-style: none;
  border-right-style: none;
  border-left-style: none;
}

.group-comments {
  margin-left: 10px;
}

.message-form {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

#messagebox-header {
  text-align: center;
}

.commentbox {
  text-align: center;
}
