html, body, #main{
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  width:100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -------------------- Sign In & Sign Up -------------------- */

.text-line {
  width: 300px !important;
}

.form-signin-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px
}

.form-signin-signup .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin-signup .form-control:focus {
    z-index: 2;
}

.form-signin-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #FFFFFF;
}

.new-account {
    display: block;
    margin-top: 10px;
}

/* -------------------- Splash Page -------------------- */

.splashpg-div{
  height: 100%;
  width: 100%;
  background-image: url(./assets/orangetree.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.splashpg-div.all-container {
  margin-top: 0;
}

.signin, .signup {
  color: white;
}

.splashpg {
  display: inline-block;
  text-align: right;
  margin-right: 1px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}


.jumbotron, .banner{
  background-color: transparent;
  height: 100%;
  color: white;
  margin-top: 18%;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.oneliner {
  text-align: center;
}


.header-splashpg {
  position: relative;
  font-size: 4em;
  text-align: center;
  margin-top: -50px;
}

/* -------------------- Splash Page -------------------- */

.container, .creategroup {
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-align: center;
}


.creategroupbutton {
  width: 60%;
  margin-bottom: 10px;
}

.choose-topic{
  color: #355834;
}

.main-btn {
  margin-top: 20px !important;
}

/* -------------------- All Users -------------------- */

.user-block {
  text-align: center;
  height: 300px;
  width: 230px;
  margin: 30px;
}

.user-block-top {
}

span, .fr-btn {
  text-align: center;
  padding: 0 10px;
}

span, .accept-fr-btn {
  text-align: center;
  padding: 0 10px 2px 10px;
}

span, .reject-fr-btn {
  text-align: center;
  padding: 0 12px;
}

.container-centered {
  text-align: center;
}

.col-centered {
  display:inline-block;
  float: none;
}

.bottom-align-text {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.all-users-name {
  font-size: 18px;
}

.username-div {
  margin-bottom: 10px;
}

.list-group-item:last-child {
  margin-bottom: 30px;
}

.list-group {
  text-align: center;
}

/* -------------------- All Groups -------------------- */

/* -- all-container is for every main div --*/
.all-container {
  margin-top: 100px;
}

.all-groups-table {
  width: 100%;
  table-layout: auto;
  display: inline;
}

.all-groups-headers, .individual-groups-headers {
  width: 250px;
  word-wrap:break-word;
}

.container-centered {
  text-align: center;
}

.all-groups-table-body {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*select component style*/
/*.selectComponent-style {
  color: white;
}*/

/*questionnaire style*/

.questionnaire {
  background-image: url('./assets/blueberrytree.jpeg');
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  overflow: auto;
}

.container.questionnaire.all-container {
  margin-top: 0;
}

.inner-div-questionnaire {
  position: block;
  /*margin-top: 30%;*/
  background: transparent;
  vertical-align: center;
}

.questionnaire-form {
  width:100%;
  background-color: transparent;
  margin-bottom: 30px;
}

.questionnaire-h1 {
  text-align: center;
  width: 100%;
  /*margin-top: 10%;*/
  padding: 20px;
  /*
  border: solid;
  border-width: thin;
  */
  font-size: 75px;
  color: white;
  background-color: transparent;
}


.questionnaire-inputs {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  border: none;
  background-color: transparent;
}

.inputs {
  width: 1px
}

.q-label {
  color: white;
  padding: 10px;
}

.containerquestionnaire {
  margin-right:15px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 100;
  color: white;
}

.submitquestionnaire {
  background-color: #3D436B;
  color: white;
}

.ft, .in{
  width: 20px;
}

.selectComponent-div {
  color: white;
}

/*<---- main nav ---->*/
.homelink {
  color: white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #233B44;
  width: 100%;
  height: 10%;
  color: white;
}

.navItem {
  float: left;
  color: white;
  z-index: 1;
}


.home, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  z-index: 1;
}

a.home{
  color: white;
}

.navbar .navbar-nav > .active{
  color: #FFFFFF;
  background: #233B44;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background: #233B44;
}

.home:hover, .dropdown:hover, .dropbtn {
  background-color: transparent;
}

li.dropdown {
  height: 100%;
  padding-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100px;
}

.dropdown-content li:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.signout-button {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  padding: 20px 16px;
  z-index: 10;
}

.navheader {
  position: absolute;
  color: white;
  top: 4px;
  left: 0;
  right: 0;
  text-align: center;
}

/* -------------------- Group Page Header -------------------- */

.group-page-header {
  width: 100%;
  text-align: center;
  color: #233B44;
}
.leave-group-button {
  float: right;
  margin-bottom: 5px;
  margin-right: 5px;
}
.join-group-button {
  margin-bottom: 5px;
}

/* -------------------- Group Messages -------------------- */
.group-message {
  width: 1000px;
  background-color: #E3E7D3;
  margin: 0 auto;
}

.group-comments {
  margin-left: 20px;
}

.message-form {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

.messagebox-header {
  text-align: center;
}

.commentbox {
  text-align: center;
  margin-bottom: 10px;
}

.page-tab {
  background-color: white;
}

.page-tab > li > a:hover{
  background-color: #233B44;
  color: white;
}

/*<---- food diary entry ---->*/
.diaryInputForm {
  text-align: center;
}

.diaryInputDiv {
  width: 85%
  margin: 50px;
}

.diaryInputLabel {
  margin: 10px;
}

.diaryInput-p {
  color: #355834;
}

.foodDiaryLogTable {
  text-align: center;
}

.foodDiaryLogtr {
  margin: 10px;
}


.foodDiaryLogList {
  list-style-type: none;
  width: 90%;
}

.fdth {
  font-weight: bold;
  font-size: medium;
}

.fdltd {
  color: #355834;
}

.foodDiaryHeader {
  text-align: center;
  font-size: 100px;
  padding: 15px;
}
.radarGraphTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.radarGraphAmount, .radarGraphPercentage {
  display: inline-block;
}

/* -------------------- Profile Pic -------------------- */

.img-circle {
  border: 15px solid white;
  border-radius: 50%;
  text-align: center;
}

/* -------------------- Profile Page -------------------- */

.user-container {
  margin-left: auto;
  margin-right: auto;
}

.user-profile-block {
  position: relative;
  height: 500px;
  width: 100%;
  margin: 0;
}

.user-profile-block-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 500px;
  margin: 0 60px;
  margin-right: 20%;
  margin-top: 5%;
  overflow: auto;
}

.user-profile-block-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 500px;
  margin: 0 5px;
  padding-left: 40px;
  overflow: auto;
}

.user-info {
  position: absolute;
  bottom: 120px;
  right: 0;
  left: 0;
}

.user-info-list-item {
  position: relative;
  display: block;
  padding: 0 15px;
  margin: 0;
  text-align: center;
}

.user-profile-nav {
  float: none;
}

.user-profile-nav li{
  float: none;
}

/* -------------------- My Friends -------------------- */

.friend-list-buttons {
  position: relative;
  width: 100%;
  text-align: center;
  color: #233B44;
}

.friend-list-button-left {
  position: absolute;
  left: 0;
}

.friend-list-button-right {
  position: absolute;
  right: 0;
}

.my-friends-container {
  width: 100%;
  position: relative;
}

.chat-window {
  position: absolute;
  right: 0;
}

/* -------------------- Update User Info -------------------- */

.returnToProfile-btn {
  position: absolute;
  padding: 20px;
  right: 0px;
  background-color: transparent;
  border-width: thin;
}

/* -------------------- My Group -------------------- */
.my-groups {
  text-align: center;
}

.my-groups-table {
  display: inline;
}

.imageUpload-btn, .changePW-btn, .updateQ-btn {
  background-color: #D8A154;
  color: white;
}

.updateUserData {
  text-align: center;
}
.fileInput {
  margin-left: auto;
  margin-right: auto;
}

.updatePF {
  padding: 10px;
  font-size: 100px;
}

.changePW-div, .updatePic-div, .updateInfo-div {
  padding: 20px;
}

.updateQ-label {
  margin-right: 15px;
}

.editInfoBtn {
  background-color: #D8A154;
  color: white;
  text-align: center;
}

/* -------------------- ERROR HANDLER -------------------- */
.error-txt {
  color: red;
  font-weight: bold;
}

/* -------------------- Select Component -------------------- */


.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000;
  cursor: default;
  display: table;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}

.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.has-value.Select--single > .Select-control > .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value .Select-value-label {
  color: #000;
}

.has-value.Select--single > .Select-control > .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}

.has-value.Select--single > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control > .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}

.is-focused .Select-input > input {
  cursor: text;
}

.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}

.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}

.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: absolute;
  text-align: right;
  margin-left: 50px;
  vertical-align: middle;
  width: 17px;
}

.Select-clear-zone:hover {
  color: #D0021B;
}

.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}

.Select--multi .Select-clear-zone {
  width: 17px;
}

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}

.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  margin-left: 65px;
  margin-bottom: 50px;
  width: 253px;
  overflow-x: hidden;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}

.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  width: 250px;
}

.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}

.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}

.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}

.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}

.Select--multi.has-value .Select-input {
  margin-left: 5px;
}

.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #000;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}

.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}

.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #000;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
