html, body, #main{
  height: 100%;
}
 .splashpg-div {
  height: 100%;
  background-image: url(./assets/orangetree.jpeg);
  background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
