html, body, #main{
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding-top: 30px;
}

.container {
  height: 100%;
  width:100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -------------------- Sign In & Sign Up -------------------- */

.text-line {
  width: 300px !important;
}

.form-signin-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px
}

.form-signin-signup .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin-signup .form-control:focus {
    z-index: 2;
}

.form-signin-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #FFFFFF;
}

.new-account {
    display: block;
    margin-top: 10px;
}

/* -------------------- Splash Page -------------------- */

.splashpg-div{
  height: 100%;
  width: 100%;
  background-image: url(./assets/orangetree.jpeg);
  background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  overflow: hidden;
}

.signin, .signup {
  color: white;
}

.splashpg {
  display: inline-block;
  text-align: right;
  margin-right: 1px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}


.jumbotron, .banner{
  background-color: transparent;
  height: 100%;
  color: white;
  margin-top: 18%;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.oneliner {
  text-align: center;
}


.header-splashpg {
  position: block;
  font-size: 4em;
  text-align: center;
}

/* -------------------- Splash Page -------------------- */

.container, .creategroup {
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-align: center;
}


.creategroupbutton {
  width: 60%;
  margin-bottom: 10px;
}

.choose-topic{
  color: #355834;
}

.main-btn {
  margin-top: 20px !important;
}

/* -------------------- All Users -------------------- */

.user-block {
  text-align: center;
  height: 300px;
  width: 230px;
  margin: 30px;
}

.user-block-top {
}

span, .fr-btn {
  text-align: center;
  padding: 0 10px;
}

span, .accept-fr-btn {
  text-align: center;
  padding: 0 10px 2px 10px;
}

span, .reject-fr-btn {
  text-align: center;
  padding: 0 12px;
}

.container-centered {
  text-align: center;
}

.col-centered {
  display:inline-block;
  float: none;
}

.bottom-align-text {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.all-users-name {
  font-size: 18px;
}

.username-div {
  margin-bottom: 10px;
}

.list-group-item:last-child {
  margin-bottom: 30px;
}

/* -------------------- All Groups -------------------- */

.all-groups-table {
  width: 100%;
  table-layout: auto;
  display: inline;
}

.all-groups-headers, .individual-groups-headers {
  width: 250px;
  word-wrap:break-word;
}

.container-centered {
  text-align: center;
}

.all-groups-table-body {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*select component style*/
/*.selectComponent-style {
  color: white;
}*/

/*questionnaire style*/

.questionnaire {
  background-image: url('./assets/blueberrytree.jpeg');
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  overflow: scroll;
}

html .questionnaire, body .questionnaire, #main .questionnaire   {
  padding-top: 0;
}

.inner-div-questionnaire {
  position: block;
  /*margin-top: 30%;*/
  background: transparent;
  vertical-align: center;
}

.questionnaire-form {
  width:100%;
  background-color: transparent;
}

.questionnaire-h1 {
  text-align: center;
  width: 100%;
  /*margin-top: 10%;*/
  padding: 20px;
  /*
  border: solid;
  border-width: thin;
  */
  font-size: 75px;
  color: white;
  background-color: transparent;
}


.questionnaire-inputs {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  border: none;
  background-color: transparent;
}

.inputs {
  width: 1px
}

.q-label {
  color: white;
  padding: 10px;
}

.containerquestionnaire {
  margin-right:15px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 100;
  color: white;
}

.submitquestionnaire {
  background-color: #3D436B;
  color: white;
}

.ft, .in{
  width: 20px;
}

/*<---- main nav ---->*/
.homelink {
  color: white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #233B44;
  width: 100%;
  height: 10%;
  color: white;
}

.navItem {
  float: left;
  color: white;
  z-index: 1;
}


.home, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  z-index: 1;
}

a.home{
  color: white;
}

.navbar .navbar-nav > .active{
  color: #FFFFFF;
  background: #233B44;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background: #233B44;
}

.home:hover, .dropdown:hover, .dropbtn {
  background-color: transparent;
}

li.dropdown {
  height: 100%;
  padding-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100px;
}

.dropdown-content li:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.signout-button {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  padding: 20px 16px;
  z-index: 10;
}

.navheader {
  position: absolute;
  color: white;
  top: 4px;
  left: 0;
  right: 0;
  text-align: center;
}

/* -------------------- Group Page Header -------------------- */

.group-page-header {
  width: 100%;
  text-align: center;
  color: #233B44;
}
.leave-group-button {
  float: right;
  margin-bottom: 5px;
  margin-right: 5px;
}
.join-group-button {
  margin-bottom: 5px;
}

/* -------------------- Group Messages -------------------- */
.group-message {
  width: 1000px;
  background-color: #E3E7D3;
  margin: 0 auto;
}

.group-comments {
  margin-left: 20px;
}

.message-form {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

.messagebox-header {
  text-align: center;
}

.commentbox {
  text-align: center;
  margin-bottom: 10px;
}

.page-tab {
  background-color: white;
}

.page-tab > li > a:hover{
  background-color: #233B44;
  color: white;
}

/*<---- food diary entry ---->*/
.diaryInputForm {
  text-align: center;
}

.diaryInputDiv {
  width: 85%
  margin: 50px;
}

.diaryInputLabel {
  margin: 10px;
}

.diaryInput-p {
  color: #355834;
}

.foodDiaryLogTable {
  text-align: center;
}

.foodDiaryLogtr {
  margin: 10px;
}


.foodDiaryLogList {
  list-style-type: none;
  width: 90%;
}

.fdth {
  font-weight: bold;
  font-size: medium;
}

.fdltd {
  color: #355834;
}

.foodDiaryHeader {
  text-align: center;
  font-size: 100px;
  padding: 15px;
}
.radarGraphTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.radarGraphAmount, .radarGraphPercentage {
  display: inline-block;
}

/* -------------------- Profile Pic -------------------- */

.img-circle {
  border: 15px solid white;
  border-radius: 50%;
}

/* -------------------- Profile Page -------------------- */

.user-container {
  margin-left: auto;
  margin-right: auto;
}

.user-profile-block {
  position: relative;
  height: 500px;
  width: 100%;
  margin: 0;
}

.user-profile-block-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 500px;
  margin: 0 60px;
  overflow: auto;
}

.user-profile-block-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 500px;
  margin: 0 5px;
  padding-left: 40px;
  overflow: auto;
}

.user-info {
  position: absolute;
  bottom: 120px;
  right: 0;
  left: 0;
}

.user-info-list-item {
  position: relative;
  display: block;
  padding: 0 15px;
  margin: 0;
}

.user-profile-nav {
  float: none;
}

.user-profile-nav li{
  float: none;
}

.edit-info-btn {
  z-index: 1;
}

/* -------------------- My Friends -------------------- */

.friend-list-buttons {
  position: relative;
  width: 100%;
  text-align: center;
  color: #233B44;
}

.friend-list-button-left {
  position: absolute;
  left: 0;
}

.friend-list-button-right {
  position: absolute;
  right: 0;
}

.my-friends-container {
  width: 100%;
  position: relative;
}

/* -------------------- Chat Window -------------------- */

.chat-window-container {
  position: absolute;
  right: 0;
}

.chat-window {
  position: relative;
  margin: 1;
  border: 1px solid;
  border-color: #cccccc;
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  background-color: white;
}

.message-box {
 width: 300px;
 height: 270px;
 overflow: scroll;
}

.message-input-container {
 position: absolute;
 bottom: 0;
 width: 100%;
 margin: 1
}

.chat-message {
  position: relative;
  display: block;
  padding: 2px 5px;
  width: 290px;
  background-color: #fff;
}

.chat-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.chat-send-btn {
  margin: -5px;
}

/* -------------------- My Group -------------------- */

.my-groups {
  text-align: center;
}

.my-groups-table {
  display: inline;
